/* Import CSS Chartist 
@import "_my-chartist-settings.scss";
@import "chartist/dist/scss/chartist.scss";
*/

#myChart{
    color: #000000;
    background-color: #ffffff;
}

.painelVisaoGeral{
    padding-top: 100px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;   
}

.grafico{
    
    text-align: center;   
    width: 380px;
    height: auto;
    display: inline-block;
    padding: 20px;
    margin: 15px;
    margin-top: 170px;
    background-color: #ffffff;   
}


.titulo{
    text-align: center;
}

