<!--The content below is only a placeholder and can be replaced.-->
<!--<nav class="nav flex-column"> 
    <a class="navbar-brand" href="#"><img class="img-logo" alt="Cielo_Logo" src="../assets/img/Logo_of_Cielo.svg.png"></a>
           
    <ul class="navbar-nav">
      <a class="linkMenu" href="#">
        <li class="nav-item active">Visão Geral</li>
      </a>
      <a class="linkMenu" href="#">
        <li class="nav-item active">Controle de lançamento</li>
      </a>  
    </ul>    
</nav>
-->
  
<nav class="navbar navbar-expand-lg navbar-light bg-dafault">
  <div class="logo" (click)="pagDefault()">
    <img class="img-logo" alt="Cielo_Logo" src="../assets/img/Logo_of_Cielo.svg.png">
  </div>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <a class="nav-link" (click)="onClickVisaoGeral()">
            <li class="nav-item">Visão Geral</li>
          </a>
          <a class="nav-link" (click)="onClickControleLancamento()">
            <li class="nav-item">Controle de lançamento</li>
          </a>       
      </ul>
    </div>
  </div>
</nav>
<div class="titulo">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="conteudo">

  <div class="visaoGeral" *ngIf="visaoGeral">
    <h1>Teste conteudo Visão Geral</h1>
  </div>
  <div class="controleLancamento"  *ngIf="controleLancamento">
      <h1>Teste conteudo Controle de Lançamento</h1>
  </div>
  

    <router-outlet></router-outlet>
</div> 





