<div classe="homePage" *ngIf="!painelDashBoard">  
  <div class="imgLogo" (click)="pagDefault()">
    <img class="imgLogoTopo" alt="Cielo_Logo" src="../assets/img/Logo_of_Cielo.svg.png">
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-dafault menuCentral">  
    <div class="containerPag1">     
      <!--- 
      <ul class="navbar-nav1">
        <a class="nav-link" (click)="onClickHomePage()">
          <li class="nav-item1">Entrar</li>
        </a>            
      </ul> 
    -->
  
      <a class="nav-link1" (click)="onClickHomePage()"> Entrar  </a>            
  
    </div>   
  </nav>
</div>
<div *ngIf="painelDashBoard">  
  <nav class="navbar navbar-expand-lg navbar-light bg-dafault">
    <div class="logo" (click)="pagDefault()">
      <img class="img-logo" alt="Cielo_Logo" src="../assets/img/Logo_of_Cielo.svg.png">
    </div>
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <a class="nav-link" (click)="onClickVisaoGeral()" *ngIf="!btnVisaoGeral">
              <li class="nav-item">Visão Geral</li>
            </a>
            <a class="nav-link" (click)="onClickVisaoGeral()" *ngIf="btnVisaoGeral">
                <li class="nav-item btnVisaoGeralSelecionado">Visão Geral</li>
              </a>
            <a class="nav-link" (click)="onClickControleLancamento()" *ngIf="!btnControleLancamento">
              <li class="nav-item">Controle de lançamento</li>
            </a>
            <a class="nav-link" (click)="onClickControleLancamento()" *ngIf="btnControleLancamento">
              <li class="nav-item btnControleLancamentoSelecionado">Controle de lançamento</li>
            </a>       
        </ul>
      </div>
    </div>
  </nav>
</div>
<div *ngIf="painelDashBoard">
  <div class="titulo">
    <h1 *ngIf="!btnVisaoGeral && !btnControleLancamento">
      {{ title }}
    </h1>
    <h1 *ngIf="btnVisaoGeral">
      {{ titleVisaoGeral }}
    </h1>
    <h1 *ngIf="btnControleLancamento">
      {{ titleControleLancamento }}
    </h1>
  </div>
  <div class="conteudo">
    <div class="visaoGeral" *ngIf="visaoGeral">
      <h1>Teste conteudo Visão Geral</h1>
    </div>
    <div class="controleLancamento"  *ngIf="controleLancamento">
        <h1>Teste conteudo Controle de Lançamento</h1>
    </div>
      <router-outlet></router-outlet>
  </div> 
</div>




